.px-3{
    color: white !important;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
div.navbar-nav :hover{
    color: gray !important;
}
  

.navbar{
    background-color: rgb(255, 136, 0);
}

img{
    width: 90px;
    padding-left: 5px;
}

a{
    text-decoration: none;
    font-size: 40px;
    font-family: 'Lobster', sans-serif;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
