<br><h1>VENTAS</h1>

<button class="btn btn-primary" (click)="mostrar(1)">Insertar venta</button><br><br>

<div id="formulario" *ngIf="verf==true">
    <div class="row">
        <div class="col-lg-6">
            <select id="fo_cliente" class="form-control form-select" [(ngModel)]="vent.fo_cliente">
                <option value="0" label="Seleccionar cliente">Seleccionar cliente</option>
                <option *ngFor="let itemccc of cliente" value="{{itemccc.id_clientes}}" label="{{itemccc.nombre}}">{{itemccc.nombre}}</option>
                </select><br>
                <span style="color: red;" *ngIf="validfocliente==false">Seleccionar cliente</span>
        </div>
        <div class="col-lg-6">
            <select id="fo_producto" class="form-control form-select" [(ngModel)]="vent.fo_producto">
            <option value="0" label="Seleccionar producto">Seleccionar producto</option>
            <option *ngFor="let itemccc of producto" value="{{itemccc.id_productos}}" label="{{itemccc.nombre}}">{{itemccc.nombre}}</option>
            </select><br>
            <span style="color: red;" *ngIf="validfoproducto==false">Seleccionar producto</span>
        </div>
        <div class="col-lg-6">
            <input type="text" id="cantidad" class="form-control" [(ngModel)]="vent.cantidad" placeholder="Ingrese Cantidad"><br>
            <span style="color: red;" *ngIf="validcantidad==false">Insertar Cantidad</span>
        </div>
        <div class="col-lg-6">
            <input type="text" id="precios" class="form-control" [(ngModel)]="vent.precios" placeholder="Ingrese precio"><br>
            <span style="color: red;" *ngIf="validprecios==false">Insertar Precio</span>
        </div>
        <div class="col-lg-6">
            <input type="text" id="subtotales" class="form-control" [(ngModel)]="vent.subtotales" placeholder="Ingrese subtotal"><br>
            <span style="color: red;" *ngIf="validsubtotales==false">Insertar Subtotal</span>
        </div>
        <div class="col-lg-6">
            <input type="text" id="iva" class="form-control" [(ngModel)]="vent.iva" placeholder="Ingrese iva"><br>
            <span style="color: red;" *ngIf="validiva==false">Insertar Iva</span>
        </div>
        <div class="col-lg-6">
            <input type="text" id="total" class="form-control" [(ngModel)]="vent.total" placeholder="Ingrese el total"><br>
            <span style="color: red;" *ngIf="validtotal==false">Insertar Total</span>
        </div>
</div>
        
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-3">
            <button *ngIf="beditar==false" class="btn btn-primary" (click)="ingresar()">Guardar</button>
            <button *ngIf="beditar==true" class="btn btn-primary" (click)="editar()">Editar</button>
            </div>
            <br><br>
            <div class="col-lg-3">
                <button class="btn btn-secondary" (click)="mostrar(0)">Cancelar</button>
            </div>
            <div class="col-lg-3"></div>
        </div>

</div>

<br>
<div class="table-responsive">
    <table class="table table-success table-striped" border="1">
        <tr>
            <th>Cliente</th>
            <th>Productos</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Subtotal</th>
            <th>Iva</th>
            <th>Total</th>
            <th style="text-align: center;">Acciones</th>
        </tr>
        <!-- mostrar los usuarios -->
        <tr *ngFor="let item of venta">
           <td>{{item.ncliente}}</td>
           <td>{{item.nproducto}}</td> 
           <td>{{item.cantidad}}</td>
           <td>{{item.precios}}</td>
           <td>{{item.subtotales}}</td> 
           <td>{{item.iva}}</td>
           <td>{{item.total}}</td>
           <td align="center">
                <a (click)="cargardatos(item, item.id_ventas)">
                    <span class="bi bi-pen-fill editar" title="Editar"></span>
                </a>
               
                <a (click)="pregunta(item.id_ventas, item.fo_cliente)">
                    <span class="bi bi-trash3-fill eliminar" title="Eliminar" ></span>
                </a>
           </td> 
        </tr>
    </table>
  </div>